var ArticleDetail = React.createClass({

  _onClick: function () {
    ArticleApiUtil.markRead(this.props.articleId);
  },

  render: function () {
    var articleDate = new Date(this.props.article.created_date);
    var detailDate = DateFormat.format.date(articleDate, "h:mm p MMMM d, yyyy");
    return (
            <li className="detail-article" id="{this.article.id}">
              <p className="detail-title" onClick={this._onClick}><strong>{this.props.article.title}</strong></p>
              <p className="detail-author">{this.props.article.author}</p>
              <p className="article-date">{detailDate}</p>
              <p className="article-summary">{this.props.article.summary}</p>
              <a className="site-button" href={this.props.article.url} target="_blank" onClick={this._onClick}>Click Here to Visit Site</a>
            </li>
          );
  }
});
