var ArticleDetail = React.createClass({

  _onClick: function () {
    window.open(this.props.article.url);
  },

  render: function () {
    var articleDate = new Date(this.props.article.created_date);
    var detailDate = DateFormat.format.date(articleDate, "h:mm p MMMM d, yyyy");
    return (
            <li className="detail-article" id="{this.article.id}">
              <img className="detail-image"
                   src={this.props.article.image ||
                        '<%= image_path('default-image.JPG') %>'}
                   className="detail-image" />
              <p className="detail-title"><strong>{this.props.article.title}</strong></p>
              <p className="detail-author">{this.props.article.author}</p>
              <p className="article-date">{detailDate}</p>
              <p className="article-summary">{this.props.article.summary.substr(0, 300)}</p>
              <div className="site-button" onClick={this._onClick}>Click Here to Visit Site</div>
            </li>
          );
  }
});
