<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2>Welcome to RSSBlur, <%= @user.username %>!</h2>
    <p>
      <h4>Thanks for checking out my website and even taking the time to sign up!</h4><br>
      If you want to check out more about the creator, Michael Budnick, please visit <%= @portfolio_url %><br>
      If you want to have some fun playing a game, check out <%= @game_url %><br>
      And if you really want to check out my resume, it's conveniently attached to this email!
    </p>
    <p>
      Click here to get right back to <a href="<%= @url %>">RSSBlur</a>.
    </p>
    <p>Thanks for joining, I hope you were impressed by the project, and have a great day!</p>
  </body>
</html>
