<h1>Sign up</h1>

  <form action="<%= users_url  %>" method="POST">
    <%= auth_token %>

    <label>Email
      <input type="text" name="user[email]">
    </label>
    <label>Username
      <input type="text" name="user[username]">
    </label>
    <label>Password
      <input type="password" name="user[password]">
    </label>
    <label>Confirm Password
      <input type="password" name="user[password_confirmation]">
    </label>

    <button value="submit">Sign Up</button>
  </form>
