.article-list {
  position: absolute;
  left: 240px;
  top: 42px;
  bottom: 2px;
  width: 300px;
  overflow: hidden;
  overflow-y: scroll;
}

.listed-article {
  text-align: left;
  padding: 10px;
  border-bottom: 1px solid #aaa;
  color: #000;
  background: #FFE9D7;
  font-size: 12px;
}

.read {
  text-align: left;
  color: #C1BEBE;
  padding: 10px;
  border-bottom: 1px solid #aaa;
  background: #FFE9D7;
  font-size: 12px;
}

.article-index > li:last-child {
  border-bottom: 0px;
}

.listed-article:hover {
  border: 1px solid black;
  padding: 9px;
  background:  #fffea3;
  cursor: pointer;
}

.listed-article p {
  display: block;
  margin: 5px 0 5px 0;
}

.listed-article > p:last-child {
  display: block;
  margin: 0;
}

.listed-article .author {
  font-weight: bold;
}

.listed-article .small-article-title {
  font-weight: bold;
  text-decoration: underline;
}

.detail-article-list {
  position: absolute;
  left: 542px;
  top: 42px;
  right: 2px;
  bottom: 2px;
  overflow: hidden;
  overflow-y: scroll;
}

.detail-article {
  display: block;
  float: left;
  width: 100%;
  text-align: left;
  padding: 10px;
  border-bottom: 1px solid #aaa;
  background: #FFE9D7;
  font-size: 14px;
}

.site-button {
  width: 100px;
  background: #D6C4B5;
  text-align: center;
  font-weight: bold;
  padding: 6px;
}

.site-button:hover {
  background:  #FFFFE3;
  cursor: pointer;
}

.detail-image {
  height: 30%;
  width: 60%;
  margin: 15px 0;
}

.detail-article p {
  display: block;
  margin: 0 0 10px 0;
}

.detail-article > p:last-child {
  display: block;
  margin: 0;
}

.detail-article-list > li:last-child {
  border-bottom: 0px;
}

.detail-title {
  font-size: 18px;
  font-weight: bold;
  text-decoration: underline;
}

.article-date {
  font-size: 12px;
  color: gray;
}

.detail-author {
  font-weight: bold;
}
.article-summary {
  line-height: 24px;
  font-size: 16px;
}

.spinner {
  position: absolute;
  height: 200px;
  width: 600px;
  top: 25%;
  left: 35%;
  font-weight: bold;
}

.spinner img {
  position: absolute;
  height: 100%;
  width: auto;
  margin: 0 30px;
  z-index: 2;
  border: 1px solid #000000;
}

.next-page {
  display: block;
  float: left;
  width: calc(100% - 38px);
  text-align: center;
  padding: 20px;
  background: #FFE9D7;
  font-size: 18px;
  font-weight: 700;
}

.next-page:hover {
  border: 1px solid black;
  padding: 18px;
  background:  #fffea3;
  cursor: pointer;
}

.no-articles {
  display: block;
  float: left;
  width: calc(100% - 38px);
  text-align: center;
  padding: 20px;
  background: #FFE9D7;
  font-size: 18px;
  font-weight: 700;
}
