.article-list {
  position: absolute;
  left: 240px;
  top: 42px;
  bottom: 2px;
  width: 300px;
  overflow: hidden;
  overflow-y: scroll;
}

.listed-article {
  text-align: left;
  padding: 10px;
  border-bottom: 1px solid #aaa;
  background: #DDEFEF;
  font-size: 12px;
}

.article-index > li:last-child {
  border-bottom: 0px;
}

.listed-article:hover {
  border: 1px solid black;
  background:  #78AEAE;
  cursor: pointer;
}

.listed-article p {
  display: block;
  margin: 0 0 3px 0;
  color: #aaa;
}

.listed-article > p:last-child {
  display: block;
  margin: 0;
}

.listed-article .author {
  font-weight: bold;
}

.listed-article .small-article-title {
  font-size: 14px;
  color: #000;
  font-weight: bold;
  text-decoration: underline;
}

.detail-article-list {
  position: absolute;
  left: 542px;
  top: 42px;
  right: 2px;
  bottom: 2px;
  overflow: hidden;
  overflow-y: scroll;
}

.detail-article {
  background: #DDEFEF;
  padding: 15px;
}

.detail-article:hover {
  border: 1px solid black;
  background:  #78AEAE;
  cursor: pointer;
}

.detail-image {
  height: 200px;
  width: 400px;
  margin: 15px 0;
}

.detail-article p {
  display: block;
  margin: 0 0 10px 0;
}

.detail-article > p:last-child {
  display: block;
  margin: 0;
}

.detail-article {
  text-align: left;
  padding: 10px;
  border-bottom: 1px solid #aaa;
  background: #DDEFEF;
  font-size: 14px;
}

.detail-article-list > li:last-child {
  border-bottom: 0px;
}

.detail-title {
  font-size: 22px;
  font-weight: bold;
  text-decoration: underline;
}

.article-date {
  font-size: 12px;
  color: gray;
}

.detail-author {
  font-weight: bold;
}
.article-summary {
  line-height: 24px;
  font-size: 16px;
}
