.user-avatar {
  position: absolute;
  top: 5px;
  left: 10px;
  height: 30px;
  width: 30px;
}

.focus-header {
  position: absolute;
  top: 5px;
  left: 50px;
  font-weight: bold;
  width: 200px;
}

.articles-header {
  z-index: 1;
  position: relative;
  display: block;
  padding: 5px;
  background: #D1D1D1;
  height: 66px;
  outline: hidden;
  overflow: hidden;
}

.created-by {
  position: absolute;
  float: left;
  font: 16px;
  top: 55px;
  left: 10px;
  width: 210px;
}

.created-by > a {
  color: blue;
}

.search-form {
  display: block;
  width: 750px;
  height: 30px;
  margin-left: 25%;
  margin-bottom: 5px;
  font-size: 14px;
}

.search-form
  input[type="text"] {
  position: absolute;
  top: 35px;
  left: 250px;
  width: 300px;
  height: 25px;
  margin: 0 10px 15px 5px;
  padding: 0 5px;
  font-size: 18px;
  float: left;
}

.search-form p {
  display: inline;
  margin: 7px;
}

.search-options {
  position: absolute;
  top: 37px;
  left: 575px;
}

.search-options p {
  float: left;
  width: 80px;
}

.filter-choices {
  float: left;
}

.filter-choices > p {
  position: absolute;
  font-size: 12px;
  cursor: pointer;
  margin: 10px 10px 10px 5px;
}

#filter-all {
  left: 75px;
}

#filter-title {
  left: 105px;
}

#filter-summary {
  left: 140px;
}

#filter-author {
  left: 205px;
}

.active {
  font-weight: 700;
}

.sort-form {
  position: absolute;
  top: 10px;
  left: 575px;
  height: 35px;
  width: 400px;
  overflow: hidden;
}

.sort-form p {
  display: inline;
  font-size: 14px;
  float: left;
  margin: 8px;
}

.sort-choices {
  position: absolute;
  top: 3px;
  left: 60px;
  width: 20%;
}

.sort-choices p {
  position: absolute;
  font-size: 12px;
  cursor: pointer;
}

#sort-pubdate {
  left: 60px;
}

#sort-website {
  left: 120px;
}

#sort-title {
  left: 180px;
}

#sort-author {
  left: 220px;
}

.sort-order {
  position: absolute;
  top: 7px;
  left: 50px;
  cursor: pointer;
  font-weight: 1000;
}

.profile-settings {
  position: relative;
  z-index: 2;
  background: #D1D1D1;
  float: right;
  padding: 7px;
  margin-top: -5px;
  margin-right: -5px;
  width: 35px;
  cursor: pointer;
}

.profile-settings i {
  width: 14px;
  float: right;
  text-align: right;
  padding: 2px 6px;
}

.settings-menu-ul{
  position: absolute;
  float: right;
  right: 10px;
  top: 15px;
  padding: 5px;
  width: 125px;
  background: #FEFEFE;
  cursor: pointer;
  border: 1px solid #ab9c90;
  border-radius: 5px;
}

.settings-menu li{
  padding: 3px 0;
  border-bottom: 1px solid #F2F2F2;
  font-weight: 500;
}

.settings-menu li:hover{
  background: #F2F2F2;
}
