.articles-header {
  z-index: 1;
  position: relative;
  display: block;
  padding: 5px;
  background: #D6C4B5;
  height: 30px;
}

.focus-header {
  float: left;
  font-weight: bold;
  margin: 5px 10px;
}

.search-form {
  display: block;
  width: 600px;
  height: 30px;
  margin: auto;
}

.search-form label {
  font-weight: 700;
}

.search-form
  input[type="text"] {
  height: 25px;
  margin: 5px 10px 10px 5px;
  padding: 0 5px;
  font-size: 14px;
  text-align: left;
}


.profile-settings {
  position: relative;
  z-index:1;
  float: right;
  margin: 0 10px;
  margin-top: 10px;
  width: 14px;
  cursor: pointer;
}

.profile-settings i {
  width: 14px;
  text-align: right;
  padding-top: 2px;
}

.settings-menu-ul{
  position: absolute;
  float: right;
  right: 10px;
  top: 15px;
  padding: 5px;
  width: 125px;
  background: #FFE9D7;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 5px;
}

.settings-menu li{
  padding: 3px 0;
  border-bottom: 1px solid #FFFFE3;
  font-weight: 500;
}

.settings-menu li:hover{
  background: #FFFFE3;
}

.user-avatar {
  float: left;
  height: 28px;
  width: 28px;
  border: 1px solid black;
  margin-left: 10px;
}
