// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.authentication {
  position: relative;
  width: 50%;
  margin: auto;
  padding: 3%;
}

.session-header {
  height: 15%;
  width: 30%;
  min-width: 200px;
  margin: 0 auto;
}

.session {
  width: 30%;
  min-width: 250px;
  padding: 2%;
  margin: 0 auto;
  border-radius: 3px;
  background: #D6C4B5;
}

.session span {
  display: block;
  font-size: 1em;
  font-weight: 500;
}

.session
input[type="password"],
input[type="email"],
input[type="text"] {
  display: block;
  height: 30px;
  width: 95%;
  padding: 0 5px;
  margin: 5% auto;
  font-size: 16px;
  background: #FFE9D7;
}

.session input[type="submit"] {
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  padding: 3px;
  margin: 5px 1% 0 0;
  background: #FFE9D7;
  float: right;
  border-radius: 3px;
}

.session p {
  padding: 3px;
  font-size: 14px;
  font-weight: 600;
  margin: 5px 5px 5px 1%;
  float: left;
  background: #D6C4B5;
}

.session p:last-of-type {
  margin-left: 10px;
}

.session p:hover {
  cursor: pointer;
}

.guest {
  padding: 5px 3px;
  background: #6af73b;
}
