// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.authentication {
  position: relative;
  width: 500px;
  margin: auto;
  padding: 100px;
}

.authentication h1 {
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  margin: 0 0 10px 0;
}

.session {
  width: 50%;
  padding: 5px;
  margin: 0 auto;
  border: 1px solid black;
  background: #D6C4B5;
}

.session span {
  display: block;
  font-size: 16px;
  font-weight: 500;
  margin: 5px 0 0 5px;
}

.session
input[type="password"],
input[type="email"],
input[type="text"] {
  display: block;
  height: 24px;
  width: 240px;
  padding: 0 5px;
  margin: 3px auto;
  font-size: 16px;
  background: #FFE9D7;
}

.session input[type="submit"] {
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  padding: 3px;
  margin: 5px 5px 0 0;
  background: #FFE9D7;
  float: right;
}

.session p {
  padding: 3px;
  font-size: 14px;
  font-weight: 600;
  margin: 5px 5px 5px 20px;
  float: left;
  background: #D6C4B5;
}

.session p:hover {
  cursor: pointer;
}

.guest {
  padding: 5px 3px;
  background: #6af73b;
}
