.user-settings {
  position: relative;
  width: 500px;
  margin: auto;
  padding: 50px;
  text-align: center;
}

.user-settings h1 {
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 3px;
  width: 90%;
  text-transform: uppercase;
  text-align: center;
  margin: 0 0 10px 0;
}

.user-settings h1 > span {
  margin-right: -45px;
}

.user-settings i {
  float: right;
  margin-right: 15px;
  padding-top: 10px;
}

.user-settings i:hover {
  float: right;
  cursor: pointer;
}

.update-avatar {
  margin-bottom: 5px;
  padding-top: 10px;
  border: 1px solid #A9A9A9;
}

.update-password {
  padding-top: 10px;
  border: 1px solid #A9A9A9;
}

.large-thumb {
  height: 100px;
  width: 100px;
  margin: 0 0 10px 10px;
  float: left;
}

#uploadBtn {
  float: left;
  width: 250px;
  margin: 20px 0 15px 25px;
}

.update-avatar
 input[type="submit"] {
  display: inline-block;
  float: left;
  margin: 17px 25px 0 25px;
  padding: 2px 6px;
  color: #000000;
  background: #FFE9D7;
  cursor: pointer;
}
.upload {
  display: block;
  height: 59px;
}

.preview {
  float: left;
  width: 50px;
  height: 50px;
  overflow: hidden;
  margin-bottom: 10px;
}

.profile-pic p {
  float: left;
  margin: 5px;
}

.update {
  width: 80%;
  padding: 20px;
  border: 1px solid black;
  background: #D6C4B5;
  text-align: center;
}

.update h2 {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 3px;
  text-transform: uppercase;
  text-align: center;
  margin: 5px 0 15px 0;
}

.update-password label {
  display: block;
  width: 190px;
  margin: 0 auto;
  text-align: left;
}

.update-password span {
  text-align: left;
  display: block;
  font-size: 14px;
}

.update-password
input[type="password"] {
  display: block;
  height: 24px;
  width: 175px;
  padding: 0 5px;
  margin: 3px auto;
  font-size: 16px;
  background: #FFE9D7;
}

.update-password
 input[type="submit"] {
  margin: 5px 0 10px 0;
  text-align: center;
  padding: 3px 6px;
  background: #FFE9D7;
}
