.sidebar {
  position: absolute;
  background: red;
  width: 229px;
  padding: 5px 5px 0 5px;
  border-right: 1px solid gray;
  left: 0;
  top: 0;
  bottom: 0;
}

.sidebar li {
  position: relative;
  display: block;
  width: 228px;
  height: 21px;
  padding: 2px;
  border: 1px solid lightblue;
  background: lightblue;
  text-align: center;
  cursor: pointer;
}

.sidebar li:hover {
  background: yellow;
  border: 1px solid black;
}

.sidebar-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  height: 26px;
  border-top: 1px solid gray;
  width: 100%;
  background: lightgray;
}

.sidebar-footer span{
  position: absolute;
  display: block;
  height: 22px;
  width: 22px;
  padding: 2px;
  line-height: 22px;
  text-align: center;
  font-size: 24px;
  font-weight: 400;
  cursor: pointer;
}

.website-form {
  position: absolute;
  bottom: 140%;
  left: 0;
  right: 0;
}

.website-input {
  display: block;
  width: 300px;
  height: 100px;
  background: orange;
}

.website-input
input[type="text"] {
  text-align: left;
  height: 20px;
  width: 90%;
  padding: 3px;
  margin: 5px;
  font-size: 12px;
}

.website-input
input[type="submit"] {
  border: solid 1px black;
  padding: 3px;
  margin: 3px;
}

.sidebar .error {
  display: block;
  float: right;
  width: 200px;
  font-size: 12px;
}

.website-form-triangle {
  position: absolute;
  left: 3px;
  width: 0;
  height: 0;
  background: transparent;
  border-top: 10px solid blue;
  border-bottom: none;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}

.hidden {
  display: none;
}
