.sidebar {
  position: absolute;
  float: left;
  background: #ADD3D3;
  width: 229px;
  padding: 5px 5px 0 5px;
  top: 40px;
  bottom: 0;
}

.sidebar li {
  position: relative;
  display: block;
  float: left;
  width: 223px;
  height: 21px;
  padding: 2px;
  border: 1px solid lightblue;
  background: #DDEFEF;
  line-height: 25px;
  text-align: center;
  cursor: pointer;
}

.sidebar li:hover {
  background: yellow;
  border: 1px solid black;
}

.delete-website {
  display: inline;
  position: absolute;
  width: 30px;
  height: 25px;
  top: 0;
  right: 0;
  background: inherit;
  line-height: 30px;
  font-weight: 600;
  color: darkred;
}

.sidebar-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  height: 26px;
  border-top: 2px solid #78AEAE;
  width: 100%;
  background: #DDEFEF;
}

.sidebar-footer span{
  position: absolute;
  display: block;
  height: 22px;
  width: 22px;
  padding: 2px;
  line-height: 22px;
  text-align: center;
  font-size: 24px;
  font-weight: 400;
  cursor: pointer;
}
