.website-form {
  position: absolute;
  z-index: 1;
  border: 1px solid #FEFEFE;
  border-radius: 3px;
  bottom: 100%;
  left: 0;
  right: 0;
  width: 167%;
  height: auto;
  background: #F2F2F2;
}

.website-form label {
  display: block;
  width: auto;
  float: left;
  font-size: 20px;
  font-weight: bold;
  padding: 10px 0 5px 10px;
}

.website-form
span {
  font-size: 16px;
  font-weight: bold;
}
.website-form >
input[type="text"] {
  text-align: left;
  height: 50px;
  width: 95%;
  padding: 0 10px;
  margin: 5px 10px;
  font-size: 26px;
  background: #D1D1D1;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.website-form >
input[type="submit"] {
  padding: 5px 10px 0px 10px;
  font-weight: 600;
  font-size: 24px;
  margin: 5px 5px 5px 10px;
  background: #D1D1D1;
  border: 1px solid black;
  border-radius: 3px;
}

.website-form .error {
  display: block;
  float: right;
  width: 75%;
  margin-top: 10px;
  font-size: 14px;
}

.website-form .check-label{
  padding: 14px 3px 0 10px;
  position: relative;
  text-align: left;
  font-size: 12px;
  border: 0;
}

.website-form .check-label:hover{
  cursor: pointer;
}

.website-form-triangle {
  position: absolute;
  z-index: 2;
  left: 3px;
  width: 0;
  height: 0;
  top: -2px;
  background: transparent;
  border-top: 10px solid #F2F2F2;
  border-bottom: none;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}
