.website-form {
  position: absolute;
  z-index: 1;
  border: 1px solid black;
  border-radius: 5px;
  bottom: 100%;
  left: 0;
  right: 0;
  width: 288px;
}


.website-form {
  display: block;
  width: 300px;
  height: auto;
  background: #78AEAE;
}

.website-form label {
  display: block;
  width: auto;
  float: left;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 0 5px 10px;
}

.website-form
input[type="checkbox"] {
  margin: 15px 0 0 0;
}

.website-form
span {
  font-size: 16px;
  font-weight: bold;
}
.website-form
input[type="text"] {
  text-align: left;
  height: 20px;
  width: 90%;
  padding: 10px;
  margin: 5px 10px;
  font-size: 12px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.website-form
input[type="submit"] {
  border: solid 1px black;
  border-radius: 8px;
  padding: 0 10px;
  margin: 5px 5px 5px 10px;
  background: #DDEFEF;
}

.website-form .error {
  display: block;
  float: right;
  width: 200px;
  font-size: 12px;
  padding: 0 5px;
}

.website-form .check-label{
  padding: 14px 3px 0 10px;
  position: relative;
  text-align: left;
  font-size: 12px;
  border: 0;
}

.website-form .check-label:hover{
  cursor: pointer;
}

.website-form-triangle {
  position: absolute;
  z-index: 2;
  left: 3px;
  width: 0;
  height: 0;
  top: -2px;
  background: transparent;
  border-top: 10px solid #78AEAE;
  border-bottom: none;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}
