.website-form {
  position: absolute;
  z-index: 1;
  border: 1px solid #FFE9D7;
  bottom: 100%;
  left: 0;
  right: 0;
  width: 288px;
}

.website-form {
  display: block;
  width: 300px;
  height: auto;
  background: #FFFFE3;
}

.website-form label {
  display: block;
  width: auto;
  float: left;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 0 5px 10px;
}

.website-form
span {
  font-size: 16px;
  font-weight: bold;
}
.website-form >
input[type="text"] {
  text-align: left;
  height: 20px;
  width: 93%;
  padding: 0 10px;
  margin: 5px 10px;
  font-size: 12px;
  background: #D6C4B5;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.website-form >
input[type="submit"] {
  padding: 3px 10px;
  font-weight: 600;
  margin: 5px 5px 5px 10px;
  background: #D6C4B5;
}

.website-form .error {
  display: block;
  width: 200px;
  font-size: 12px;
  padding: 0 5px;
  float: right;
}

.website-form .check-label{
  padding: 14px 3px 0 10px;
  position: relative;
  text-align: left;
  font-size: 12px;
  border: 0;
}

.website-form .check-label:hover{
  cursor: pointer;
}

.website-form-triangle {
  position: absolute;
  z-index: 2;
  left: 3px;
  width: 0;
  height: 0;
  top: -2px;
  background: transparent;
  border-top: 10px solid #FFFFE3;
  border-bottom: none;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}
