var AuthComponent = React.createClass({

  getInitialState: function () {
    return {};
  },

  componentDidMount: function(){
    window.fbAsyncInit = function() {
      FB.init({
        appId      : '285141892042046',
        cookie     : true,
        xfbml      : true,
        version    : 'v3.1'
      });

      window.FB.Event.subscribe('auth.statusChange', (response) => {
          console.log(response.authResponse);
          console.log(response.email);
          console.log(response.authResponse.email)
        if (response.authResponse) {
          // this.updateLoggedInState(response);
        } else {
          // this.updateLoggedOutState();
        }
      });
    }.bind(this);

    (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.1&appId=285141892042046&autoLogAppEvents=1';
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
  },

  submit: function (event) {
    return;
  },

  success: function () {
    this.history.pushState(null, "/home");
  },

  error: function (message) {
    this.setState({error: message, password: ""});
  },

  signUp: function () {
    return;
  },

  _guestLogin: function () {
    return;
  },

  render: function () {
    return (
      <div className="third-party-auth">
        <div
          className="fb-login-button"
          data-width="50"
          data-max-rows="1"
          data-size="small"
          data-button-type="login_with"
          data-show-faces="false"
          data-auto-logout-link="true"
          data-scope="public_profile,email"
          data-use-continue-as="false">
        </div>
      </div>
    );
  }
});
