var FBButton = React.createClass({

  getInitialState: function () {
    return {};
  },

  fbauth: function(response) {
      if (response.authResponse) {
        this.submit(response);
      } else {
        console.log("logging out: " + response);
      }
  },

  componentDidMount: function(){
      window.FB.XFBML.parse()
      window.FB.Event.subscribe('auth.statusChange', this.fbauth);
  },

  submit: function (response) {
    SessionApiUtil.fblogin(response.authResponse, this.success, this.error);
  },

  success: function () {
    return;
  },

  componentWillUnmount: function() {
    window.FB.Event.unsubscribe('auth.statusChange', this.fbauth);
  },

  render: function () {
    return (
      <div className="third-party-auth">
        <div
          className="fb-login-button"
          data-width="50"
          data-max-rows="1"
          data-size="small"
          data-button-type="login_with"
          data-show-faces="false"
          data-auto-logout-link="true"
          data-scope="public_profile,email"
          data-use-continue-as="false">
        </div>
      </div>
    );
  }
});
