var SignIn = React.createClass({
  mixins: [ReactRouter.History, React.addons.LinkedStateMixin],

  getInitialState: function () {
    return {handle: "", password: "", error: false};
  },

  componentDidMount: function(){
    React.findDOMNode(this.refs.handle).focus();
  },

  submit: function (event) {
    event.preventDefault();

    var credentials = $(event.currentTarget).serializeJSON();
    SessionApiUtil.login(credentials, this.success, this.error);
  },

  success: function () {
    this.history.pushState(null, "/home");
  },

  error: function (message) {
    this.setState({error: message});
  },

  signUp: function () {
    this.history.pushState(null, '/create_account');
  },

  _guestLogin: function () {
    UserApiUtil.createGuest(this.success);
  },

  render: function () {
    var error = (this.state.error ? <label className="session-error">{this.state.error}</label> : null);
    return (
            <div className="authentication">
            <img className="session-header"
                 src={'<%= image_path('rssblur-logo-final.png') %>'}
            />
              <form className="session signin group" onSubmit={ this.submit }>
                  {error}
                  <input type="text"
                         name="handle"
                         ref="handle"
                         maxLength="20"
                         valueLink={this.linkState('handle')}
                         placeholder={'Username or Email'} />
                  <input type="password"
                         name="password"
                        maxLength="42"
                         valueLink={this.linkState('password')}
                         placeholder={'Password'} />
                  <p onClick={this.signUp}>Sign Up</p>
                  <p className="guest" onClick={this._guestLogin}>Guest?</p>
                <input type="submit" value="Sign In" />
              </form>
            </div>
          );
  }
});
