var SignUp = React.createClass({
  mixins: [ReactRouter.History, React.addons.LinkedStateMixin],

  getInitialState: function () {
    return {username: "",
            email: "",
            password: "",
            passwordConfirmation: "",
            error: false};
  },

  componentDidMount: function () {
    CurrentUserStore.addChangeListener(this._signedUp);
    React.findDOMNode(this.refs.username).focus();
  },

  componentWillUnmount: function () {
    CurrentUserStore.removeChangeListener(this._signedUp);
  },

  updateUsername: function (event) {
    this.setState({username: event.currentTarget.value});
  },

  updateEmail: function (event) {
    this.setState({email: event.currentTarget.value});
  },

  updatePassword: function (event) {
    this.setState({password: event.currentTarget.value});
  },

  updatePasswordConfirmation: function (event) {
    this.setState({passwordConfirmation: event.currentTarget.value});
  },

  submit: function (event) {
      event.preventDefault();
      var credentials = {user: $(event.currentTarget).serializeJSON()};
      UserApiUtil.createUser(credentials, this.success, this.error);
    },

  success: function () {
    alert("Welcome to RSSBlur!");
  },

  _signedUp: function () {
    this.history.pushState(null, "/home")
  },

  error: function (message) {
    this.setState({password: "", passwordConfirmation: "", error: message});
  },

  signIn: function () {
    this.history.pushState(null, "/sign_in");
  },

  _guestLogin: function () {
    UserApiUtil.createGuest(this.success);
  },

  render: function () {
    var errors;
    if (this.state.error) {
      var messages = this.state.error.map(function (message, idx) {
        return <li key={idx} className="session-error">{message}</li>;
      })
      errors = (<ul>
                {messages}
               </ul>
              )
    }
    return (
            <div className="authentication">
              <img className="session-header"
                   src={'<%= image_path('rssblur-logo-final.png') %>'}
              />
              <form className="session signin group" onSubmit={ this.submit }>
                  {errors}
                  <input type="text"
                         name="username"
                         ref="username"
                         maxLength="20"
                         valueLink={this.linkState('username')}
                         placeholder={'Username'} />
                  <input type="text"
                         name="email"
                         maxLength="20"
                         valueLink={this.linkState('email')}
                         placeholder={'Email'} />
                  <input type="password"
                         name="password"
                         maxLength="42"
                         valueLink={this.linkState('password')}
                         placeholder={'Password'} />
                  <input type="password"
                         name="password_confirmation"
                         maxLength="42"
                         valueLink={this.linkState('passwordConfirmation')}
                         placeholder={'Confirm Password'} />
                  <p onClick={this.signIn}>Sign In</p>
                  <p className="guest" onClick={this._guestLogin}>Guest?</p>
                <input type="submit" value="Sign Up" />
              </form>
            </div>
          );
  }
});
